body {
    background-color: #000000;
    font-family: 'Courier New', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #4d9cc482;
}

.card {
    background-color: #ffffffd6;
    border-radius: 15px;
    border: none;
}

#colorBox {
    height: 250px;
    background-color: #000000;
    border: 1px solid #ffffff;
}

input[type="range"] {
    height: 10px;
    background: #ffffff;
    border-radius: 5px;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #3b6980;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}

input[type="number"] {
    text-align: center;
    border-radius: 5px;
}
